<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FindItBoot3</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="application/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="container">
    welcome

</div>
</body>
</html>